* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

header {
  border-top: 3px solid #FF7500;
}

.active {
  padding-bottom: 5px;
  border-bottom: 3px solid #FF7500;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

.header-wrapper {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav,
nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

nav a {
  color: #000000;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.23px;
  letter-spacing: 1px;
  text-decoration: none;
}

.register-btn {
  padding: 12px 24px;
  gap: 0px;
  border-radius: 4px;
  background-color: #FF7500;
  color: #fff;
}

#hero {
  background-color: #252420;
  color: #fff;
  padding: 80px 0;
}

.hero-desc {
  width: 387px;
}

.hero-desc h2 {
  font-size: 40px;
}

.hero-wrapper {
  position: relative;
  display: flex;
  align-items: center;

}

.hero-img-wrapper {
  position: absolute;
  right: 0;
  top: -40px;
}

@media (max-width: 900px) {
  .hero-img-wrapper {
    display: none;

  }

  .hero-desc {
    width: 100%;
  }
}